$color-1: #fff; //bianco
$color-2: #e6ac00; //ocra
$color-3: #0066ff; //celeste
$color-4: #009900; //verde
$color-5: #000; //nero
$color-6: #eefbef; //verde testo
$font-1: 'Open Sans', sans-serif; //Playfair

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}