$color-1: #fff; //bianco
$color-2: #e6ac00; //ocra
$color-3: #0066ff; //celeste
$color-4: #009900; //verde
$color-5: #000; //nero
$color-6: #e6e6e6; //grigio
$font-1: 'Playfair Display', serif; //Playfair