@import "config.scss";

.navbar{
  padding: 0px;

  &-nav li{
    padding-right: 40px;
  }

  &-brand img{
    width: 100px;
  }
}

.nav-link{
  font-size: 20px;
}

.home-page{
  background-color: $color-6;
  font-family: $font-1;
  padding: 30px;

  h1{
    font-size: 50px;
  }
  p{
    font-size: 20px;
  }
  a{
    color: $color-5;
    text-decoration: underline;
  }
  h3{
    font-size: 35px;
  }

  .media{
    border: 1px solid $color-4;
    img{
      width: 150px;
      height: 120px;
    }
    h5{
      font-size: 30px;
    }
    p{
      font-size: 20px;
    }
  }
}




.carousel{
  display: flex;
  justify-content: center;

  &-inner img{
    width: 100%;
    height: 100%;
  }
}

.about-section{
  background-color: $color-6;
  font-family: $font-1;
  padding: 30px;

  .media{

    img{
      width: 15%;
      border: 2px solid $color-4 !important;
    }
    h1{
      font-size: 50px;
    }
    p{
      font-size: 20px;
    }
    a{
      color: $color-5;
    }
  }
}

.my-passions{

  h1{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }
}

.basketball{
  color: $color-1;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;
}


.programming{
  color:$color-2;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;

  a{
    text-decoration: underline;
    color: $color-2;
    text-shadow: #e0e0e0 1px 1px 0;
  }
}

.languages{
  color: $color-3;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;
}

.contacts{
  font-family: $font-1;
  background-color: $color-6;
  h1{
    font-size: 50px;
    text-align: center;
  }
  p{
    font-size: 20px;
  }
  .social a{
    font-size: 100px;
    padding: 100px;
  }
  .fa-facebook{
    color: #3b5998;
  }
  .fa-twitter{
    color: #00aced;
  }
  .fa-instagram{
    color: #517fa4;
  }
  .fa-facebook:hover{
    color: lighten(#3b5998, 20%);
  }
  .fa-instagram:hover{
    color: lighten(#517fa4, 20%);
  }
  .fa-twitter:hover{
    color: lighten(#00aced, 20%);
  }
  .contact-form{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-row{
      width: 200px;
      padding: 20px;
      button{
        display: inline-block;
        margin: 0;
        padding: 0.75rem 1rem;
        border: 0;
        border-radius: 6px;
        background-color: #aaa;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        cursor: pointer;
      }
      button:hover{
        color: lighten(#aaa, 20%);
      }
    }
  }
}



.card{
  font-family: $font-1;
  padding: 30px;
  background-color: $color-6;
  p{
    font-size: 17px;
  }
  h5{
    font-size: 20px;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
}

@media (max-width: 559px){
  .navbar-brand img{
    width: 120%;
  }
  h1{
    font-size: 20px;
  }

  .home-page{
    a,p{
      font-size: 20px;
    }
  }
}
