@import "config.scss";

.navbar{
  padding: .8rem;

  &-nav li{
    padding-right: 40px;
  }

  &-brand img{
    width: 40%;
  }
}

.nav-link{
  font-size: 20px;
}
.carousel{
  display: flex;
  justify-content: center;

  &-inner img{
    width: 100%;
    height: 100%;
  }
}

.page{
  background-color: $color-6;
  font-family: $font-1;
}

.media{

  img{
    width: 15%;
    border: 2px solid $color-4 !important;
  }
  h1{
    font-size: 50px;
  }
  p{
    font-size: 20px;
  }
  a{
    color: $color-5;
  }
}

.my-passions{

  h1{
    font-size: 40px;
  }
  p{
    font-size: 20px;
  }
}


@media (max-width: 559px){
  .navbar-brand img{
    width: 110%;
  }
  h1{
    font-size: 20px;
  }
}

.basketball{
  color: $color-1;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;
  }


.programming{
  color:$color-2;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;

  a{
    text-decoration: underline;
    color: $color-2;
    text-shadow: #e0e0e0 1px 1px 0;
  }
}

.languages{
  color: $color-3;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;
}
