@import "config.scss";

.navbar {
  padding: 0;
  border-bottom: 7px solid rgba(214, 245, 216, 0.7) !important;
  background-color: $color-6 !important;

  &-nav li {
    padding-right: 40px;
  }

  &-brand img {
    width: 160px;
    padding-left: 60px;
  }
}

.nav-link {
  font-size: 20px;
}

.home-page {
  background-color: $color-6;
  font-family: $font-1;

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }

  a {
    color: $color-5;
    text-decoration: underline;
  }

  h3 {
    font-size: 35px;
  }

  h5 {
    font-size: 30px;
  }
}

.background {
  background-image: url("images/background1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  &-inner {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  &-inner-mini {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-inner-top {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.introduzione {
  padding: 10px 60px;
  background-clip: content-box;
  border: 7px solid rgba(214, 245, 216, 0.7) !important;
}

.projects {
  h3,
  p {
    padding: 10px 60px;
  }
}

.bordo {
  border: 7px solid rgba(214, 245, 216, 0.7) !important;
  padding: 10px 0;
}

.col-md-12 {
  padding: 10px;

  img {
    width: 20%;
  }

  p {
    font-size: 15px;
    padding: 0;
  }

  h5 {
    font-size: 25px;
  }
}

.container {
  background-color: $color-6;
  padding-left: 60px;
  display: block;
  width: 100%;
  margin: 0;
}

.row {
  display: inline-block;
  justify-content: flex-start;
}

.btn {
  background-color: $color-4;
  border: 1px solid $color-4;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: $color-4;
  border: 1px solid $color-4 !important;
}

.container {
  display: flex;
  width: 100%;
}

.carousel {
  display: flex;
  justify-content: center;

  &-inner img {
    width: 100%;
    height: 100%;
  }
}

.about-section {
  background-color: $color-6;
  font-family: $font-1;

  .media {
    padding: 0 60px;

    img {
      width: 15%;
      border: 2px solid $color-4 !important;
    }

    h1 {
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }

    a {
      color: $color-5;
    }
  }
}

.my-passions {
  padding: 0 60px;

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }
}

.basketball {
  color: $color-1;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;
}

.programming {
  color: $color-2;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;

  a {
    text-decoration: underline;
    color: $color-2;
    text-shadow: #e0e0e0 1px 1px 0;
  }
}

.languages {
  color: $color-3;
  width: 100%;
  height: 100%;
  text-shadow: #e0e0e0 1px 1px 0;
}

.contacts {
  font-family: $font-1;
  padding: 10px 60px;
  background-color: $color-6;
  border: 7px solid rgba(214, 245, 216, 0.7);

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }
}

.contact-form {
  font-family: $font-1;
  padding: 10px 60px;
  font-size: 17px;
  background-color: $color-6;
  border: 7px solid rgba(214, 245, 216, 0.7);
}

.social-network {
  background-color: $color-6;
  text-align: center;
  font-family: $font-1;

  h1 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }
}

.social a {
  font-size: 80px;
  padding: 40px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-instagram {
  color: #517fa4;
}

.fa-facebook:hover {
  color: lighten(#3b5998, 20%);
}

.fa-twitter:hover {
  color: lighten(#00aced, 20%);
}

.fa-instagram:hover {
  color: lighten(#517fa4, 20%);
}

.card {
  font-family: $font-1;
  padding: 0;
  background-color: $color-6;

  p {
    font-size: 17px;
  }

  h5 {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}
@media (max-width: 559px) {
  .introduzione {
    h1 {
      font-size: 25px;
    }

    p {
      font-size: 15px !important;
    }

    a {
      font-size: 15px !important;
    }
  }

  .projects {
    h3 {
      font-size: 25px;
    }

    p {
      font-size: 15px !important;
    }
  }

  .container {
    h5 {
      font-size: 20px;
    }

    p {
      font-size: 10px !important;
    }
  }

  .card {
    p {
      font-size: 10px;
    }

    a {
      font-size: 10px;
    }

    h5 {
      font-size: 15px;
    }
  }

  .about-section {
    h1 {
      font-size: 25px !important;
    }

    p {
      font-size: 15px !important;
    }
  }

  .media {
    padding-left: 7px !important;
  }

  .contacts,
  .social-network {
    h1 {
      font-size: 25px !important;
    }

    p {
      font-size: 15px !important;
    }
  }

  .navbar-brand img {
    width: 120%;
  }

  h1 {
    font-size: 20px;
  }

  .display-2 {
    font-size: 25px;
  }

  h4 {
    font-size: 15px;
  }
}